* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
body {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #afafaf;
  --bg-color: #151515;
  --heading-color: #ddd;
  --border-color: #333;
  --border-light: #444;
  --nav-color: #fff;
  --bg-light: #222;
  --dropdown-color: #151515;
  --iframe-filter: grayscale(100%);
  --widget-bg: #131617;
  font-family: "Jost", sans-serif;
}

header {
  background-color: var(--bg-color);
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all 0.5s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
header.sticky {
  height: 80px;
}
header .header-main .navbar-brand {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
}
header .header-main .navbar .collapse {
  margin-left: 30%;
}
header .header-main .navbar .collapse .navbar-nav {
  margin-right: 1rem;
}
header .header-main .navbar .collapse .navbar-nav .nav-item {
  margin: 0 0.5rem;
}

header .header-main .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: var(--heading-color);
  font-size: 1.4rem;
  position: relative;
  transition: all 0.5s;
}

header .header-main .navbar .collapse .navbar-nav .nav-item .nav-link.active {
  color: var(--primary-color);
}

header .header-main .navbar .collapse .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0%;
  height: 2px;
  bottom: 4px;
  transition: all 0.5s;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item:hover
  .nav-link::before {
  width: 85%;
}

header .header-main .navbar .collapse .navbar-nav .nav-item:hover .nav-link {
  color: var(--primary-color);
}

header .header-main .navbar .collapse .navbar-nav .nav-item .dropdown .btn {
  font-size: 1.4rem;
  color: var(--heading-color);
  position: relative;
  transition: all 0.5s;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .btn::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0%;
  height: 2px;
  bottom: 2px;
  transition: all 0.5s;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .btn:hover::before {
  width: 85%;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .btn:hover {
  color: var(--primary-color);
}

header .header-main .navbar .collapse .navbar-nav .nav-item .dropdown .btn i {
  padding-left: 0.4rem;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .btn::after {
  border-right: none !important;

  border-left: none !important;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .dropdown-menu {
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  margin-top: 1rem;
  min-width: 15rem;
  left: -3rem;
  border-radius: 0.8rem;
  padding: 1rem 0.3rem;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .dropdown-menu
  .dropdown-item {
  color: var(--heading-color);
  font-size: 1.4rem;
  position: relative;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .dropdown-menu
  .dropdown-item::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0%;
  height: 2px;
  bottom: 2px;
  transition: all 0.5s;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .dropdown-menu
  .dropdown-item:hover:before {
  width: 56%;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .dropdown-menu
  .dropdown-item:hover:before {
  width: 56%;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .dropdown-menu
  .dropdown-item:hover {
  background-color: transparent;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

header
  .header-main
  .navbar
  .collapse
  .navbar-nav
  .nav-item
  .dropdown
  .btn:focus {
  outline: none;
  box-shadow: none;
}

header .header-main .navbar .incons i {
  color: var(--heading-color);
  font-size: 2rem;
  transform: translateY(5px);
}
/* Header end */

/* <!-- Menu reponsive --> */

.nav-mobile {
  background-color: var(--bg-color);
  position: fixed;
  top: 100px;
  z-index: 1031;
  width: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  transition: all 0.5s;
  padding-top: 6rem;
}
.nav-mobile .item-header {
  z-index: 10;
}
.nav-mobile .navbar-nav {
  margin-top: -4rem;
}
.nav-mobile .navbar-nav .nav-item .nav-link {
  color: white;
}
.nav-mobile .navbar-nav .dropdown button {
  background-color: transparent;
  border: none;
}
.nav-mobile .navbar-nav .dropdown button .nav-link {
  display: inline-block;
  font-size: 1rem !important;
  font-weight: 600 !important;
  margin-top: -4px;
}
button {
  background-color: transparent;
  border: none !important;
  color: white !important;
  margin-left: 18%;
}
button i {
  padding-left: 20%;
}
button:focus {
  outline: none !important;
}
#demo {
  width: 60%;
  background-color: var(--dropdown-color);
  margin: 0 auto;
  border: 1px solid #5b626d;
  border-radius: 0.6rem;
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
}
#demo::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--dropdown-color);
  border: 1px solid #5b626d;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
}
#demo .dropdown-item {
  color: white;
  opacity: 0.8;
}
#input-menu:checked ~ .item-header .header-search {
  display: block;
  z-index: 1;
}
#input-menu:checked ~ .nav-mobile {
  display: block;

  width: 100%;
}
#input-menu:checked ~ .header-main .navbar {
  display: none;
}
.bars {
  display: none;
}

/* Carrousel */
#Carousel .carousel-main.bg1 {
  background: url(./../img/banner1.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  color: var(--nav-color);
}

#Carousel .carousel-main.bg2 {
  background: url(./../img/banner2.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  color: var(--nav-color);
}

#Carousel .carousel-main.bg2 .content {
  justify-content: flex-end;
  transform: translateX(40%);
}

#Carousel .carousel-main.bg3 {
  background: url(./../img/banner3.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  color: var(--nav-color);
}

#Carousel .carousel-main.bg4 {
  background: url(./../img/banner4.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  color: var(--nav-color);
}

#Carousel .carousel-main.bg4 .content {
  justify-content: flex-end;
  transform: translateX(40%);
}

#Carousel .carousel-main::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}
#Carousel .carousel-main .content h1 {
  font-size: 4.5rem;
  font-weight: 600;
  width: 60%;
}
#Carousel .carousel-main .content p {
  font-size: 1.5rem;
  color: var(--heading-color);
}

#Carousel .carousel-main .content .btn {
  border: 1px solid var(--nav-color);
  width: 160px;
  height: 55px;
  border-radius: 0.8rem;
  line-height: 45px;
  color: var(--nav-color);
  font-size: 1.5rem;
}

#Carousel .carousel-main .content .btn.btn-white {
  background-color: var(--nav-color);
  color: var(--primary-color);
}

#Carousel .carousel-main .content .btn.border-btn {
  transition: all 0.5s;
}

#Carousel .carousel-main .content .btn.border-btn:hover {
  background-color: var(--nav-color);
  color: var(--primary-color);
}

#Carousel .swiper-container.list-carousel {
  overflow: hidden;
  position: relative;
}

#Carousel .swiper-container .swiper-pagination.swiper-pagination-carousel {
  position: absolute;
  bottom: 2rem;
}

#Carousel
  .swiper-container
  .swiper-pagination.swiper-pagination-carousel
  .swiper-pagination-bullet:hover {
  width: 30px !important;
  border-radius: 0.8rem;
  background: var(--primary-color) !important;
  opacity: 1;
}

#Carousel
  .swiper-container
  .swiper-pagination.swiper-pagination-carousel
  .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff !important;
  margin: 0 0.5rem;
  opacity: 1;
}

#Carousel
  .swiper-container
  .swiper-pagination.swiper-pagination-carousel
  .swiper-pagination-bullet-active {
  width: 30px !important;
  border-radius: 0.8rem;
  background: var(--primary-color) !important;
}

/* carousel end */

/* About */

#About {
  background: var(--bg-color);
  text-align: center;
  padding: 8rem 0;
}

#About .container .content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

#About .container p.title {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin: 0 auto;
  letter-spacing: 1px;
}

#About .container h2 {
  font-size: 2.8rem;
  color: var(--heading-color);
  font-weight: 600;
}

#About .container p {
  color: var(--font-color);
  font-size: 1.4rem;
  line-height: 1.8;
  margin: 1rem 0 2rem 0;
}

#About .container .hover-title {
  margin-top: 1rem;
}

#About .container a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  transition: all 0.5s;
}

#About .container a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -2px;
  left: 0;
}

#About .container a:hover {
  color: var(--primary-color);
}

/* About end */

/* Features */

#Features {
  background-color: var(--bg-light);
  padding: 6rem 0;
}

#Features .content {
  background-color: var(--bg-color);
  padding: 3rem 2rem;
  border-radius: 0.8rem;
  transition: all 0.5s;
  margin: 1rem 0;
}

#Features .content:hover {
  background-color: transparent;
}

#Features .content i {
  color: #189a46;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

#Features .content h4 {
  color: var(--heading-color);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  transition: all 0.5s;
}

#Features .content h4:hover {
  color: var(--primary-color);
}

#Features .content p {
  font-size: 1.34rem;
  color: var(--font-color);
  margin-bottom: 1.5rem;
}

#Features .content a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s;
  position: relative;
}

#Features .content a:hover {
  color: var(--primary-color);
}

#Features .content a::before {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: var(--primary-color);
  position: absolute;
}

/* Features  end*/

/* Choose */

#Choose {
  padding: 8rem 0;
  background-color: var(--bg-color);
}

#Choose .thumb img {
  width: 100%;
  border-radius: 0.8rem;
}

#Choose .content {
  margin-top: 6rem;
}

#Choose .content .heading span {
  color: var(--secondary-color);
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#Choose .content .heading h1 {
  margin: 0.5rem 0 1.5rem 0;
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 600;
}

#Choose .content .heading p {
  color: var(--font-color);
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

#Choose .content .list-choose ul li {
  list-style: none;
  line-height: 2.5;
}

#Choose .content .list-choose ul li i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: var(--primary-color);
  background: var(--bg-light);
  text-align: center;
  line-height: 25px;
  font-size: 0.7rem;
  margin-right: 1rem;
}

#Choose .content .list-choose ul li a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: text;
}

/* Choose end */

/* Number */

#Number {
  padding: 4rem 0 3rem 0;
  background-color: var(--primary-color);
  color: var(--nav-color);
  text-align: center;
}

#Number .number-content h2 {
  font-size: 3.5rem;
  font-weight: 600;
}

#Number .number-content p {
  color: var(--heading-color);
  font-size: 1.5rem;
}

/* Number end */

/* Packages */

#Packages {
  padding: 6rem 0;
  background-color: var(--bg-light);
  color: white;
}

#Packages .heading {
  text-align: center;
  margin-bottom: 6rem;
}

#Packages .heading p {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

#Packages .heading h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--heading-color);
}

#Packages .packages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 0;
  width: 90%;
}

#Packages .packages-list .packages-box {
  background: var(--bg-color);
  border-radius: 0.6rem;
  align-self: center;
}

#Packages .packages-list .packages-box.active {
  -webkit-transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
}

#Packages .packages-list .packages-box.active .content {
  padding: 0 !important;
}

#Packages .packages-list .packages-box.active .content-header {
  padding: 3rem 2rem;
  background: var(--primary-color);
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}

#Packages .packages-list .packages-box.active .content .content-header p {
  width: 100px;
  height: 32px;
  background-color: var(--nav-color);
  line-height: 32px;
  margin: 0 auto;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 0.8rem;
}

#Packages .packages-list .packages-box.active .content .content-header h6 {
  color: var(--nav-color);
  margin-top: 2rem;
}

#Packages .packages-list .packages-box.active .content .content-header h4 {
  color: var(--nav-color);
}

#Packages .packages-list .packages-box.active .content .content-header span {
  color: var(--nav-color);
}

#Packages .packages-list .packages-box.active .content-body {
  padding: 3rem 0;
}

#Packages .packages-list .packages-box .content {
  padding: 4rem 2.5rem;
  text-align: center;
}

#Packages .packages-list .packages-box .content .content-header h6 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 600;
  color: var(--heading-color);
}

#Packages .packages-list .packages-box .content .content-header h4 {
  font-size: 3rem;
  line-height: 45px;
  padding: 0 !important;
  font-weight: 600;
  color: var(--primary-color);
}

#Packages .packages-list .packages-box .content .content-header h4 label {
  font-size: 1.8rem;
  vertical-align: text-top;
}

#Packages .packages-list .packages-box .content .content-header h4 span {
  font-size: 1.2rem;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

#Packages .packages-list .packages-box .content .content-body {
  padding-top: 2rem;
}

#Packages .packages-list .packages-box .content .content-body .link-content li {
  list-style: none;
  margin-bottom: 0.4rem;
  color: #304659;
}

#Packages
  .packages-list
  .packages-box
  .content
  .content-body
  .link-content
  li
  p {
  font-size: 1.3rem;
  color: var(--font-color);
}

#Packages .packages-list .packages-box .content .content-body .btn-content {
  margin-top: 3rem;
}

#Packages .packages-list .packages-box .content .content-body .btn-content a {
  padding: 1rem 2.8rem;
  font-size: 1.3rem;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.5s;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 0.8rem;
  color: var(--nav-color);
}

#Packages
  .packages-list
  .packages-box
  .content
  .content-body
  .btn-content
  a:hover {
  background-color: #116e32;
}

#Packages
  .packages-list
  .packages-box.active
  .content
  .content-body
  .btn-content
  a:hover {
  background-color: var(--primary-color);
}

/* Video */

#Video {
  padding: 6rem 0;
  background: var(--bg-color);
  display: grid;
  align-items: center;
}

#Video .heading h6 {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.6;
}

#Video .heading h3 {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 600;
}

#Video .heading p {
  margin: 0 auto;
  padding: 0;
  font-size: 1.4rem;
  line-height: 28px;
  color: var(--font-color);
}

#Video .heading {
  margin-bottom: 4rem;
}

#Video .history .position-relative img {
  border-radius: 0.8rem;
  max-width: 100%;
  height: auto;
}

#Video .history .position-relative a {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

#Video .history .position-relative a .video-play {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}

#Video .history .position-relative a .video-play:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

#Video .history .position-relative a .video-play i {
  color: var(--primary-color);
}

#Video .history .position-relative #small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

.mfp-hide {
  display: none !important;
}

div#small-dialog iframe {
  width: 100%;
  height: 400px;
  display: block;
}

/* Video end */

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 67, 0.25),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* Client */

#Client {
  padding: 10rem 0;
  background-color: var(--bg-light);
  position: relative;
}

#Client .heading {
  text-align: center;
}

#Client .heading p {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
}

#Client .heading h1 {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 600;
}

#Client .list-content {
  background-color: var(--bg-color);
  border-radius: 0.8rem;
  padding: 3rem 2rem;
  color: white;
}

#Client .list-content blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

#Client .list-content blockquote q {
  font-size: 1.4rem;
  line-height: 28px;
  color: var(--font-color);
}

#Client .list-content blockquote q::before {
  font-size: 5rem;
  color: var(--primary-color);
  line-height: 0.8;
  padding-top: 0.6rem;
  top: 2rem;
  font-weight: 400;
  display: inline-block;
  font-family: "STIX Two Math", serif;
}

#Client .list-content .thumb {
  display: flex;
}

#Client .list-content .thumb img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#Client .list-content .thumb .text {
  margin-left: 1rem;
  transform: translateY(10px);
}

#Client .list-content .thumb .text h5 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--heading-color);
}

#Client .list-content .thumb .text p {
  font-size: 1.2rem;
  color: #777;
}

#Client .swiper-container.list-client {
  overflow: hidden;
  margin-top: 2rem;
}
#Client .swiper-container.list-client .swiper-pagination-client {
  position: absolute;
  bottom: 5rem;
}

#Client
  .swiper-container.list-client
  .swiper-pagination-client
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px !important;
  border-radius: 0.8rem;
  background: var(--primary-color) !important;
  opacity: 1;
}

#Client
  .swiper-container.list-client
  .swiper-pagination-client
  .swiper-pagination-bullet {
  margin: 0 0.5rem;
  width: 10px;
  height: 10px;
  background-color: var(--nav-color);
  opacity: 1;
}

#Client
  .swiper-container.list-client
  .swiper-pagination-client
  .swiper-pagination-bullet:hover {
  width: 30px !important;
  border-radius: 0.8rem;
  background: var(--primary-color) !important;
  opacity: 1;
}

/* Cilent end */

/* upload */

#Upload {
  padding: 6rem 0;
  background-color: #151515;
}

#Upload .content {
  max-width: 650px;
  margin: 0 auto;
}

#Upload .content .heading {
  text-align: center;
}

#Upload .content .heading h1 {
  color: var(--heading-color);
  font-size: 3rem;
  font-weight: 600;
}

#Upload .content .heading p {
  font-size: 1.4rem;
  color: var(--font-color);
  margin: 1rem 0;
}

#Upload .content .upload-input {
  justify-content: space-between;
  display: flex;
  margin-top: 4rem;
}

#Upload .content .upload-input input {
  width: 100%;
  height: 60px;
  border-radius: 0.8rem;
  border: none;
  margin-right: 1rem;
  padding: 0 2rem;
  color: var(--font-color);
  font-size: 1.2rem;
}

#Upload .content .upload-input input:focus-visible {
  outline: none;
}

#Upload .content .upload-input a {
  width: 30%;
  height: 60px;
  border-radius: 0.8rem;
  background-color: var(--primary-color);
  text-align: center;
  line-height: 60px;
  color: var(--nav-color);
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.5s;
}

#Upload .content .upload-input a:hover {
  background-color: #116e32;
}

/* Upload end */

/* Footer */

footer {
  background-color: #111111;
  padding-top: 6rem;
}

footer .footer-top {
  margin-bottom: 4rem;
}

footer .footer-top .content-heading h4 {
  color: var(--nav-color);
  font-size: 1.5rem;
  font-weight: 600;
}

footer .footer-top .content-body {
  margin-top: 2rem;
}

footer .footer-top .content-body .text {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--font-color);
}

footer .footer-top .content-body .text span {
  color: #afafaf;
  font-weight: normal;
  font-size: 1.2rem;
}

footer .footer-top .content-body .text a {
  font-size: 1.2rem;
  color: #afafaf;
  font-weight: normal;
}

footer .footer-top .content-body .text a:hover {
  color: var(--nav-color);
}

footer .footer-top .content-body .list-icon {
  display: flex;
  margin-top: 2rem;
}

footer .footer-top .content-body .list-icon .icon {
  margin-right: 2rem;
  cursor: pointer;
}

footer .footer-top .content-body .list-icon .icon i {
  font-size: 1rem;
  color: var(--font-color);
  transition: all 0.5s;
}

footer .footer-top .content-body .list-icon .icon:hover i {
  color: var(--nav-color);
}

footer .footer-top .list {
  margin-top: 1.5rem;
}

footer .footer-top .list li {
  list-style: none;
  line-height: 2.2;
}

footer .footer-top .list li a {
  color: #afafaf;
  font-size: 1.2rem;
}

footer .footer-top .list li:hover a {
  color: var(--nav-color);
}

footer .footer-end {
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer .footer-end .content-end p {
  font-size: 1.2rem;
  color: #afafaf;
}

footer .footer-end .content-end p a {
  font-size: 1.2rem;
  color: var(--secondary-color);
  opacity: 0.9;
}
/* Reponsive */
@media only screen and (max-width: 1200px) {
  header .container {
    max-width: 960px !important;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
  }
  header .header-main .navbar .collapse .navbar-nav .nav-item {
    margin: 0 0.1rem;
  }
  header .header-main .navbar .collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
  header
    .header-main
    .navbar
    .collapse
    .navbar-nav
    .nav-item
    .dropdown
    .dropdown-menu
    .dropdown-item {
    font-size: 1.2rem;
  }

  #Carousel .carousel-main.bg1 {
    background: url(./../img/banner1.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg2 {
    background: url(./../img/banner2.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg2 .content {
    justify-content: flex-end;
    transform: translateX(40%);
  }

  #Carousel .carousel-main.bg3 {
    background: url(./../img/banner3.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg4 {
    background: url(./../img/banner4.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg4 .content {
    justify-content: flex-end;
    transform: translateX(40%);
  }
  #Carousel .carousel-main .content h1 {
    font-size: 4.5rem;
    font-weight: 600;
    width: 70%;
  }

  #Choose .content .heading span {
    color: var(--secondary-color);
    font-size: 1.3rem;
  }

  #Choose .content .heading h1 {
    margin: 0.5rem 0 1.5rem 0;
    color: var(--heading-color);
    font-size: 2.8rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1100px) {
  #About .container h2 {
    font-size: 2.5rem;
    color: var(--heading-color);
    font-weight: 600;
  }

  #Choose .content .heading span {
    color: var(--secondary-color);
    font-size: 1.25em;
  }

  #Choose .content .heading h1 {
    margin: 0.5rem 0 1.5rem 0;
    color: var(--heading-color);
    font-size: 2.6rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 992px) {
  .header-main .collapse .navbar-nav {
    display: none;
  }
  .header-main .navbar .navbar-toggler {
    display: block !important;
    color: var(--nav-color);
    background-color: var(--primary-color);
    padding: 0.6rem 1rem;
    margin-left: 1rem;
  }
  .header-main .navbar .navbar-toggler i {
    font-size: 1.4rem;
  }

  .header-main .navbar .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
  }

  .header-main .navbar .collapse {
    flex-direction: row-reverse;
    margin-left: 30% !important;
  }
  header .container {
    max-width: 720px !important;
    margin-right: auto;
    margin-left: auto;
  }

  #Carousel .carousel-main.bg1 {
    background: url(./../img/banner1.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg2 {
    background: url(./../img/banner2.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg2 .content {
    justify-content: flex-end;
    transform: translateX(0%);
  }

  #Carousel .carousel-main.bg3 {
    background: url(./../img/banner3.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg4 {
    background: url(./../img/banner4.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg4 .content {
    justify-content: flex-end;
    transform: translateX(0%);
  }

  #Carousel .carousel-main .content h1 {
    font-size: 3.5rem;
    font-weight: 600;
    width: 100%;
  }

  #Carousel .carousel-main .content p {
    font-size: 1.1rem;
  }

  #Carousel .carousel-main .content .btn {
    font-size: 1.2rem;
  }

  #About .container h2 {
    font-size: 2.5rem;
    color: var(--heading-color);
    font-weight: 600;
  }

  #Packages .packages-list .packages-box .content .content-body .btn-content a {
    display: none;
  }

  #Video .heading h6 {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.6;
  }

  #Video .heading h3 {
    color: var(--heading-color);
    font-size: 2.6rem;
    font-weight: 600;
  }

  #Video .heading p {
    margin: 0 auto;
    padding: 0;
    font-size: 1.4rem;
    line-height: 28px;
    color: var(--font-color);
  }

  #Upload .content .heading h1 {
    color: var(--heading-color);
    font-size: 2.6rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {
  header .container {
    max-width: 540px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .header-main .navbar .navbar-toggler {
    display: block !important;
    color: var(--nav-color);
    background-color: var(--primary-color);
    padding: 0.6rem 1rem;
  }
  .header-main .navbar .navbar-toggler i {
    font-size: 1.4rem;
  }
  .header-main .navbar .incons {
    margin-left: 16rem;
  }

  #Carousel .carousel-main.bg1 {
    background: url(./../img/banner1.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg2 {
    background: url(./../img/banner2.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg2 .content {
    justify-content: flex-end;
    transform: translateX(0%);
  }

  #Carousel .carousel-main.bg3 {
    background: url(./../img/banner3.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg4 {
    background: url(./../img/banner4.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg4 .content {
    justify-content: flex-end;
    transform: translateX(0%);
  }

  #Carousel .carousel-main .content h1 {
    font-size: 3.5rem;
    font-weight: 600;
    width: 100%;
  }

  #Carousel .carousel-main .content p {
    font-size: 1rem;
  }

  #Carousel .carousel-main .content .btn {
    font-size: 1.1rem;
  }

  #Packages .packages-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-top: 0;
    width: 90%;
  }
  #Packages .packages-list .packages-box.active {
    -webkit-transform: none;
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  }

  #Packages .packages-list .packages-box {
    margin: 2rem 0;
  }

  #Upload .content .upload-input {
    flex-wrap: wrap;
    justify-content: center;
  }
  #Upload .content .upload-input input {
    margin-right: 0;
  }

  #Upload .content .heading h1 {
    color: var(--heading-color);
    font-size: 2.4rem;
    font-weight: 600;
  }
  footer .footer-top .footer-content {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 576px) {
  .header-main .navbar .incons {
    margin-left: 4rem;
  }
  header .container {
    max-width: 380px !important;
    margin-right: auto;
    margin-left: auto;
  }

  #Carousel .carousel-main.bg1 {
    background: url(./../img/banner1.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg2 {
    background: url(./../img/banner2.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg3 {
    background: url(./../img/banner3.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #Carousel .carousel-main.bg4 {
    background: url(./../img/banner4.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    color: var(--nav-color);
  }

  #About .container h2 {
    font-size: 2.4rem;
    color: var(--heading-color);
    font-weight: 600;
  }

  #Choose .content .heading span {
    color: var(--secondary-color);
    font-size: 1.2rem;
  }

  #Choose .content .heading h1 {
    margin: 0.5rem 0 1.5rem 0;
    color: var(--heading-color);
    font-size: 2.4rem;
    font-weight: 600;
    margin: 2rem 0;
  }

  #Upload .content .heading h1 {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 400px) {
  #Choose .content .heading span {
    color: var(--secondary-color);
    font-size: 1.1rem;
  }

  #Choose .content .heading h1 {
    margin: 0.5rem 0 1.5rem 0;
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: 600;
  }

  #Upload .content .heading h1 {
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 666px) {
  #Client .swiper-container.list-client .swiper-pagination-client {
    display: none;
  }
  #Client {
    padding: 6rem 0;
  }
  #Upload .content .upload-input input {
    margin-right: 0;
  }

  #Upload .content .upload-input a {
    width: 100%;
    margin: 1rem 0;
  }
}

/* Back to top */
.backToTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  color: white !important;
  background: #009f4d;
  text-align: center;
  font-weight: 900;
  color: black;
  text-decoration: none;
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 120;
  opacity: 0;
  visibility: hidden;
  text-decoration: none !important;
  /* // ban đầu chắc chắn phải để 1 rồi, để hiện */
}
.backToTop i {
  font-size: 1.2rem;
}
.backToTop:hover {
  background-color: #009f4d;
}

.cd-top--is-visible {
  /* // back-to-top button visible */
  visibility: visible;
  opacity: 1;
  /* sau đó đến 1 khoảng mới ăn class này */
}
.cd-top--fade-out {
  /* // reduce button opacity if user keeps scrolling */
  opacity: 1;
}

/* Drop right */
#click {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 6rem;
  margin-right: 2rem;
  z-index: 1030;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  color: #97a1a9;
  border-radius: 50%;
  background-color: #0d1326;
  text-align: center;
  line-height: 40px;
}

#click button.fa{
  color: #97a1a9 !important;
}

.right-sidebar-notifcations {
  background-color: #0d1326;
  width: 100px;
  text-align: center;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  margin-top: 4rem;
  z-index: 1029;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  transition: all 0.5s;
}
.right-sidebar-notifcations .top {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(249, 249, 249, 0.1);
}
.right-sidebar-notifcations .item a {
  color: #97a1a9;
  text-decoration: none;
}
.right-sidebar-notifcations .item p {
  margin: 1.2rem 0;
}

.right {
  transform: translateX(100%);
  position: 0;
}
